<?xml version="1.0"?>

<launch>
  
  <!-- Run the map server -->
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find mobile_robot_2dnav)/maps/map_office.yaml"/-->

  <!--- Run AMCL -->
  <!-- <node pkg="amcl" type="amcl" name="amcl">
    <param name="use_map_topic" value="true"/>
    <remap from="map" to="/rtabmap/grid_map"/>
  </node> -->

  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
    <rosparam file="$(find trashbot_2dnav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find trashbot_2dnav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find trashbot_2dnav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find trashbot_2dnav)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find trashbot_2dnav)/param/base_local_planner_params.yaml" command="load" />

    <remap from="scan" to="/scan"/>
    <remap from="map" to="/rtabmap/grid_map"/>
    <remap from="odom" to="/rtabmap/odom"/>
    <remap from="global_pose" to="/rtabmap/global_pose"/>
  </node>

</launch>
