<?xml version="1.0"?>

<launch>
    

    <!-- Realsense Camera -->
    <include
        file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
    </include>

    <!-- Depth Image to LaserScan Node -->
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <remap from="image" to="/camera/depth/image_rect_raw"/>
        <remap from="scan" to="/scan"/>
        <rosparam>
            output_frame_id: camera_link # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            scan_height: 1
            scan_time: 0.03333
            range_min: 0.45
            range_max: 10.0
        </rosparam>
    </node>

    <!-- IMU Filter Node -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="use_mag" type="bool" value="false" />
        <param name="publish_tf" type="bool" value="false" />
        <param name="world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu"/>
        <remap from="/imu/data" to="/rtabmap/imu"/>
    </node>


     <!-- RTAB Map Node -->
     <!-- SLAM -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="args" value="--delete_db_on_start --Optimizer/GravitySigma 0.3 --Reg/Force3DoF --Optimizer/Slam2D --Rtabmap/StartNewMapOnLoopClosure --Odom/ResetCountdown 1" />
        <arg name="rgb_topic" value="/camera/color/image_raw"/> 
        <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
        <arg name="camera_info_topic" value="/camera/color/camera_info"/>
        <arg name="approx_sync" value="false"/>
        <arg name="wait_imu_to_init" value="true"/>
        <arg name="frame_id" value="camera_link"/>
        <arg name="rtabmapviz" value="false"/>
        <arg name="imu_topic" value="/rtabmap/imu"/>
    </include>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node> 
    
    <!-- RVIZ -->
    <!--node type="rviz" name="rviz" pkg="rviz" args="-d $(find trashbot_2dnav)/rviz/slam.rviz" /--> 
</launch>

    

    

    
